.block {
  width: 100%;
  padding: 0 40px;
  margin: 25px 15px;
  @media (min-width: 767.98px) {
    margin: 0;
  }
}

.currencies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;

  @media (min-width: 767.98px) {
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
  }
}

.active,
.currency__item {
  margin: 0 4px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 6px;
  font-family: "Antonio";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0.5px;
  border: 1px solid rgba(0, 0, 0, 0);

  --c: linear-gradient(#ffffff 0 0);
  --d: linear-gradient(#f96306 0 0); /* update the color here */

  padding-bottom: 0.25em;
  background: var(--c), var(--c);
  background-size: 0.3em 0.1em;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear, background-size 0.3s 0.2s linear;
  @media (min-width: 767.98px) {
    padding: 12px 0;
    font-size: 25px;
  }
}

/* .currency__item:hover {
  background-color: #f8461e;
  color: #ffffff;
} */

.currency__item {
}
.currency__item:hover {
  /* background: var(--d), var(--d); */
  background-size: 50% 0.1em;
  background-position: 10% 100%, 90% 100%;
}

.active {
  padding-bottom: 0.25em;
  background-size: 50% 0.1em;
  background-position: 10% 100%, 90% 100%;
  cursor: default;
  color: #963131;
}

.block {
  width: 100%;
  padding: 0 40px;
}

.input__wrap {
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--background);
  @media (min-width: 767.98px) {
    padding: 30px 0 15px;
  }
}

.input__cur {
  width: 100%;
  background-color: var(--background);
  padding: 0 20px;
  font-family: "Antonio";
  font-size: 34px;
  font-weight: 600;
  line-height: 1px;
  color: var(--color-primary);
  outline: none;

  @media (min-width: 767.98px) {
    height: 150px;
  }
}
