@import "../../../../../styles/var.css";

.password__root {
  background-image: var(--background-password-bg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  left: 0px;
  top: 114px;
  z-index: 2;
  display: flex;
  cursor: default;
  padding: 0 10px;
  /* min-width: 360px; */
  flex-direction: column;
  align-items: center;
  height: 85vh;
  box-sizing: content-box;

  @media (min-width: 767px) {
    padding: 20px 0;
    align-items: normal;
    max-height: 700px;
    height: 75vh;
  }
}

.password__container {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  @media (min-width: 767px) {
    padding: 40px;
  }
}

.password__title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-primary);
  width: 100%;
  overflow: hidden;
  padding: 30px 20px;
  @media (min-width: 767.98px) {
    padding: 0;
  }
}

.password__title span {
  color: #f8461e;
}

.description span {
  color: #f8461e;
  margin-right: 4px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  color: var(--color-primary);
  font-family: "Antonio";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.pass__box {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0;
  border-radius: 14px;
  border: 1px solid rgba(128, 128, 128, 0.452);
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(39px);
  -webkit-box-shadow: 50px 38px 48px -22px rgba(122, 122, 122, 0.46);
  -moz-box-shadow: 50px 38px 48px -22px rgba(122, 122, 122, 0.46);
  box-shadow: 50px 38px 48px -22px rgba(122, 122, 122, 0.46);

  @media (min-width: 767.98px) {
    padding: 40px;
    margin: 30px 0;
  }
}

.disabled__button {
  background-color: #00000000;
  color: gray;
  border: 1px solid gray;
}

.copied {
  background-color: rgb(117, 200, 117);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.button__small {
  background-color: #00000000;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.button__small:hover {
  background-color: var(--button-hover);
  color: #fbfbfb;
}

.button__wrapper {
  padding-right: 40px;
}

.button__generate {
  background-color: #00000000;
  color: var(--color-primary);
  font-size: 18px;
  margin: 20px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button__small:active,
.button__generate:active {
  transform: scale(0.97);
}

.button__small,
.disabled__button,
.copied {
  margin: 20px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in,
    transform 0.2s linear;
  cursor: pointer;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1px;
  cursor: pointer;

  @media (min-width: 767.98px) {
    width: 20%;
  }
}
