.root {
	display: flex;
	background-color: #191311;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1257px;
	margin: 0 auto;
	padding: 20px;
}

.letter {
	color: #fe390c;
	font-family: Anton;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 28px;
	margin-right: 2px;
}

.logo {
	text-align: left;
	font-family: Anton;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	color: #fff;
	text-transform: uppercase;
}

.logo:hover {
	animation-delay: 2s;
	animation-name: logo_rotate;
	animation-duration: 1s;
	animation-direction: normal;
}

.btn_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.button {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #fff;
	padding: 14px 30px;
	border-radius: 5px;
	border: 1px solid #fff;
	transition: all 0.4s ease 0s;
}

.button:hover {
	border: 1px solid #fe390c;
	background-color: #f8461e;
}

@keyframes logo_rotate {
	0% {
		transform: rotateX(0deg);
	}

	50% {
		transform: rotateX(180deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}