.link__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 28px;
  background: rgba(12, 12, 12, 0.525);
  filter: brightness(0.5);
  transition: filter 0.3s ease-in;
  position: relative;
  top: 0px;
  left: 225px;
  z-index: 909;
}

.link__item:hover {
  filter: brightness(1);
}

.social__media {
  z-index: 909;
}
