.contact {
	background-image: url('../../../public/img/contact-bg.jpg');
	background-size: cover;
}

.contact__container {
	max-width: 1057px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;

	@media (min-width: 999.98px) {
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
	}
}
