@import "../../../../../styles/var.css";

.converter {
  padding-top: 20px;
  position: relative;
  top: 120px;
  left: 0;
  box-sizing: border-box;
  background-color: var(--apps--background);
}
.converter__root {
  min-height: 600px;

  @media (min-width: 767.98px) {
    min-height: 500px;
  }
}
.converter__title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 10px 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 0 20px;
  @media (min-width: 767.98px) {
    text-align: end;
  }
}

.converter__title span {
  color: #fe390c;
}

.blocks__wrap {
  flex-direction: column;
  margin: 0 auto 25px;
  overflow: hidden;

  @media (min-width: 767.98px) {
    box-sizing: border-box;
    margin: 40px auto;
    flex-direction: row;
  }
}

.blocks__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.api__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  cursor: default;

  @media (min-width: 767.98px) {
    justify-content: start;
  }
}
.api__title a {
  font-weight: 500;
  text-decoration: none;
  color: red;
  margin: 0 4px;
}
