@import "../../../../../styles/var.css";

.converter {
  padding-top: 60px;
  position: relative;
  top: 125px;
  left: 0;
  height: 550px;
  box-sizing: border-box;
  background-color: rgba(151, 151, 153, 0.445);
  box-sizing: border-box;
}

.converter__title {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin: 10px 0 auto;
  box-sizing: border-box;
  text-align: start;
}

.converter__title span {
  color: red;
}

.blocks__wrap {
  flex-direction: column;
  margin: 60px auto;

  @media (min-width: 767.98px) {
    box-sizing: border-box;
    flex-direction: row;
  }
}

.blocks__wrap,
.currencies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.currencies {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

.active,
.currency__item {
  margin: 0 4px;
  width: 100%;
  text-align: center;
  color: var(--color-primary);
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 6px;
  font-family: "Antonio";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.currency__item:hover {
  background-color: #f8461e;
  color: #ffffff;
}

.active {
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  background-color: #f8461e00;
  cursor: default;
  color: #ffffff;
}

.block {
  width: 100%;
  padding: 0 40px;
}

.input__wrap {
  width: 100%;
  padding: 30px 0 15px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--background);
}

.input__cur {
  width: 100%;
  height: 150px;
  background-color: var(--background);
  padding: 0 20px;
  font-family: "Antonio";
  font-size: 34px;
  font-weight: 600;
  line-height: 1px;
  color: var(--color-primary);
  outline: none;
}
.switcher__cur{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}