*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

* {
	font-family: Inter;
	cursor: default;
	font-size: 12px;
}

html {
	scroll-behavior: smooth;
}

a {

	text-decoration: none;
}

ul,
ol,
li {

	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	cursor: default;
}

html,
body {
	height: 100%;
	line-height: 1;
}

/* variables */
:root {
	--orange: #fe390c;
	--silver: #a9a9aa;
	--white: #fff;
	--black: #000;
}

[data-theme='light'] {
	--white-black: #ffffff;
	--black-white: #000;
	--white-orange: #fff;
	--grey-white: #857e7d;
	--grey-orange: #ededed;
	--black-orange: #000;
	--btn-hover: #fe390c;
}

[data-theme='dark'] {
	--white-black: #05010a;
	--black-white: #fff;
	--white-orange: #fe390c;
	--grey-white: #fff;
	--grey-orange: #fe390c;
	--black-orange: #fe390c;
	--btn-hover: #ffffff;
}