*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*:not(input, textarea, a, img) {
	font-family: Inter;
	cursor: default;
	font-size: 12px;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	cursor: default;
}

html,
body {
	height: 100%;
	line-height: 1;
	background-color: var(--white-black);
}

/* variables */
:root {
	--orange: #fe390c;
	--silver: #a9a9aa;
	--white: #fff;
	--black: #000;
}

[data-theme='light'] {
	--white-black: #ffffff;
	--white-orange: #fff;
	--black-white: #000;
	--black-orange: #000;
	--grey-white: #857e7d;
	--grey-orange: #ededed;
	--grey-darkgrey: #7b7b7bca;
	--orange-white: #fe390c;

	--btn-hover: #fe390c;

	--trusted-filter: brightness(0.7);

	--shadow: 12px 12px 56px #000;
}

[data-theme='dark'] {
	--white-black: #05010a;
	--white-orange: #fe390c;
	--black-white: #fff;
	--black-orange: #fe390c;
	--grey-white: #fff;
	--grey-orange: #f15532;
	--grey-darkgrey: #52525276;
	--orange-white: #fff;

	--btn-hover: #ffffff;

	--trusted-filter: brightness(2);

	--shadow: 12px 12px 56px #fff;
}