*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
* {
	font-family: Inter;
	font-size: 12px;
	color: #fff;
}
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
}

/* [class*='__container'] {
	max-width: 1057px;
	margin: 0 auto;
	padding: 0px 15px;
} */

/* PC */
@media (max-width: 1087px) {
	/* [class*="__container"] {
        max-width: 970px;
    } */
}

/* TABLE */
@media (max-width: 991.98px) {
	/* [class*="__container"] {
        max-width: 750px;
    } */
}

/* MOBILE */
@media (max-width: 767.98px) {
	/* [class*="__container"] {
        max-width: none;
    } */
}

/* MOBILE SMALL */
@media (max-width: 479.98px) {
}
:root {
	--background: #e9e8e8;
	--background-image-block-bg: url('/public/img/block_light_bg.jpeg');
	--background--trusted: #ededed;
	--background--card: #ededed;
	--background--hover: #f8461e;
	--reverse-hover: #000000;
	--button-hover: #f8461e;
	--filter--brightness: 100%;

	--button-green: #ffffff;

	--color-primary: #000000;
	--color-hover: #fcfafa;

	--webkit-shadow: #000000;
	--moz-shadow: #000000;
	--box-shadow: #000000;
}

[data-theme='dark'] {
	--background: #05010a;
	--background-image-block-bg: url('/public/img/block-bg.jpg');
	--background--trusted: #f8461e;
	--background--card: #4342426d;
	--background--hover: #f2eded;
	--filter--brightness: 200%;
	--button-hover: #f8461e;
	--reverse-hover: #f8461e;
	--color-primary: #fbfbfb;
	--color-hover: #000000;
	--button-green: #ffffff;

	--webkit-shadow: #fbfbfb;
	--moz-shadow: #fbfbfb;
}
