:root {
  --background: #e9e8e8;
  --background-image-block-bg: url("/public/img/block_light_bg.jpeg");
  --background-password-bg: url("/public/img/pass_bg_light.jpg");
  --background--trusted: #ededed;
  --background--card: #ededed;
  --background--hover: #f8461e;
  --reverse-hover: #000000;
  --button-hover: #f8461e;
  --filter--brightness: 100%;

  --apps--background: #c3bfbf;

  --button-green: #ffffff;

  --color-primary: #000000;
  --color-hover: #fcfafa;

  --webkit-shadow: #000000;
  --moz-shadow: #000000;
  --box-shadow: #000000;
}

[data-theme="dark"] {
  --background: #05010a;
  --background-image-block-bg: url("/public/img/block-bg.jpg");
  --background-password-bg: url("/public/img/pass_bg.jpg");
  --background--trusted: #f8461e;
  --background--card: #4342426d;
  --background--hover: #f2eded;
  --filter--brightness: 200%;
  --button-hover: #f8461e;
  --reverse-hover: #f8461e;
  --color-primary: #fbfbfb;
  --color-hover: #000000;
  --button-green: #ffffff;
  --apps--background: #2b2a2aa4;
  --webkit-shadow: #fbfbfb;
  --moz-shadow: #fbfbfb;
  --box-shadow: #fbfbfb;
}
