.main {
  flex: 1 1 auto;
}

.layout__nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #111214;
  z-index: 50px;

  @media (max-width: 767.98px) {
    position: fixed;
    z-index: 999;
  }
}

.layout__container {
  min-height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first__letter {
  color: #fe390c;
  font-family: Anton;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
}

.layout__logo {
  text-align: left;
  font-family: Anton;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.layout__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.button {
  /* ссылка она строчная  когда она не флекс элемент*/
  display: inline-block;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #fe390c;
  padding: 14px 30px;
  border-radius: 5px;
  border: 1px solid #fe390c;
  transition: all 0.3s ease 0s;
}

.button:hover {
  border: 1px solid #fcfcfb;
  color: #fcfcfb;
}

.icon-menu {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #0C0C0E;

  margin: 40px auto;

  @media (max-width: 1099.98px) {
    margin-top: 0;
    top: 90px;
  }

  @media (max-width: 767.98px) {
    top: 180px;
  }
}

footer p,
b {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #A9A9AA;
}

footer b {
  font-weight: 500;
  color: #fe390c;
  margin: 0 5px;
}