.trusted {
  background-color: var(--background--card);
  position: relative;
  top: 270px;
  left: 0px;

  @media (min-width: 767.98px) {
    top: 150px;
  }
}

.trusted__container {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

.trust__item {
  margin: 0 auto;
  filter: brightness(var(--filter--brightness));
}
