.wrapper {
	display: flex;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin: 24px 0 auto;
}

.item {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 10px 16px auto;
	text-decoration: none;
	color: #000;
}

.title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.02em;
	color: #ffffff;
}

.subtitle {
	width: 100%;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.02em;
	color: #a9a9aa;
	margin: 8px 0 auto;
}
