@import "../../../styles/var.css";

.service__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  @media (min-width: 767.98px) {
    flex-wrap: nowrap;
  }
}

.card__root {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 695px;

  @media (min-width: 799.98px) {
    margin: 0 20px;
    max-height: 450px;
  }
}
.card__image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card {
  color: inherit;
  cursor: pointer;
  width: calc(80% - 2rem);
  height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;

  @media screen and (min-width: 767.98px) {
    width: 100%;
  }
}
.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-color: var(--reverse-hover);
  font-size: 1.618rem;
  font-weight: 600;
  overflow: hidden;
  font-family: Anton, sans-serif;
}
.front p {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  padding: 10px 0 15px;
  background-color: #000f1a90;
  font-family: Raleway;
  font-style: normal;
  font-size: 43px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 1px;
  color: #ffffff;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.back {
  overflow: hidden;
  transform: rotateY(-180deg);
  padding: 0 2em;
  background-color: var(--color-hover);
}
.back p {
  width: 100%;
  font-family: Raleway;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 10px;
  color: #fff;
  border-top: 1px solid #e87f0ed0;
  border-bottom: 1px solid #e87f0ed0;

  @media screen and (min-width: 767.98px) {
    line-height: 30px;
  }

  @media screen and (min-width: 399.98px) {
    font-size: 18px;
  }
}

.back p::first-letter {
  color: rgba(255, 85, 0, 0.895);
  font-size: 42px;
  font-weight: 900;
  padding: 10px 3px 15px;
}
.card:hover .back {
  transform: rotateY(0deg);
}

/* Styles for work Experience cards */
/* --------------------------------- */
.work__experience__wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  min-width: 290px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  margin: 12px;
  cursor: pointer;

  @media (min-width: 499.98px) {
    width: 364px;
  }
}

.work__experience__wrapper .work__experience__image {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.work__experience__wrapper .work__experience__icon__text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.59);
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  transition: 0.5s;
}

.work__experience__wrapper .work__experience__image img {
  width: 100%;
}

.work__experience__icon__text h2 {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  border-bottom: 1.4px solid #fe390c;
  cursor: default;
}

.work__experience__icon__text h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: -0.04em;
  color: #ffffff;
  cursor: default;
  text-align: left;

  @media (min-width: 559.98px) {
    font-size: 12px;
    line-height: 20px;
  }
}

.work__experience__wrapper:hover {
  .work__experience__icon__text {
    top: 0;
    left: 0;
  }
}
