.container {
	max-width: 1057px;
	margin: 0 auto;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 50px;
	text-wrap: balance;
	text-align: center;

	@media (min-width: 767.98px) {
		flex-direction: row;
		justify-content: flex-start;
		margin: 50px 50px 0px 50px;
		flex-wrap: nowrap;
	}
}

.title h4 {
	font-family: Anton;
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
}

.title h3 {
	font-family: Anton;
	font-size: 80px;
	text-transform: uppercase;
	color: #fe390c;
	margin: 12px;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 12px;
}